<div class="container-signIn" style="background-image: url('../../../../assets/images/bg-01.jpg');">
  <div class="main-panel">
    <div class="content">
      <div class="container">
        <div class="row content-center">
          <div class="col-md-6">
            <div class="card">
              <div class="card-header card-header-primary">
                <div class="d-flex justify-content-center">
                  <img alt="Logo de ATOM Chat" src="../../../../assets/images/logo-atom-chat.png" width="192"
                    height="55" />
                </div>
              </div>
              <div class="card-body">
                <form autocomplete="off" [formGroup]="signInForm" (ngSubmit)="onSubmit()">
                  <div class="row">
                    <div class="col-md-12">
                      <div>
                        <mat-form-field appearance="fill" style="width: 100%;">
                          <mat-label>Enter your email</mat-label>
                          <input matInput placeholder="pat@example.com" formControlName="email">
                          <mat-error *ngIf="dataControls['email'].hasError('required')">
                            This field is required
                          </mat-error>
                          <mat-error *ngIf="dataControls['email'].hasError('email')">
                            Enter a valid email
                           </mat-error>
                        </mat-form-field>
                      </div>
                    </div>
                  </div>
                  <hr>
                  <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
                  <button mat-raised-button color="primary" class="text-white">Submit</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer"></footer>
  </div>
</div>
